<p>hello i am in the index action</p>

<% @sodas.each do |soda| %>
  <p><b>id:</b> <%= soda.id %></p>
  <p><b>name:</b> <a href="/sodas/<%= soda.id %>"><%= soda.name %></a></p>
  <p><b>size:</b> <%= soda.size %></p>
  <p><b>image_url:</b> <%= soda.image_url %></p>
  
  <hr>
<% end %>
