

<p><b>id</b>: <%= @soda.id %></p>
<p><b>name</b>: <%= @soda.name %></p>
<p><b>size</b>: <%= @soda.size %></p>
<p><b>image_url</b>: <%= @soda.image_url %></p>


<img width="150px" src="<%= @soda.image_url %>">


<p><a href="/sodas/<%= @soda.id %>/edit">Edit this soda</a></p>